<!-- <h1 *ngIf="listUsers" class="header-content">Displaying {{listUsers.length}} users</h1>

<div class="main-content">
    <mat-card class="list-users" role="listitem"  *ngFor="let user of listUsers">
        <mat-card-title class="user-title">{{user.name}}</mat-card-title>
        <mat-card-content>{{user.email}}</mat-card-content>
        <mat-card-actions>
              <a class="action-link" [routerLink]="['/users/edit', user.id]">Edit</a>
            | <a class="action-link" [routerLink]="['/users/view', user.id]">View</a>
            | <a class="action-link" [routerLink]="['/users/delete', user.id]">Delete</a>
        </mat-card-actions>
    </mat-card>
</div> -->

<mat-card>
    <mat-card-title class="user-title">Display list Users</mat-card-title>
    <mat-card-content>
        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" matSort>
        
            <!-- Id Column -->
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>
        
            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
        
            <!-- Username Column -->
            <ng-container matColumnDef="username">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Username </th>
                <td mat-cell *matCellDef="let element"> {{element.username}} </td>
            </ng-container>
        
            <!-- Email Column -->
            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                <td mat-cell *matCellDef="let element"> {{element.email | lowercase}} </td>
            </ng-container>

            <!-- Action Column -->
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Actions </th>
                <td mat-cell *matCellDef="let element"> 
                    <a class="action-link" [routerLink]="['..', 'edit', element.id]">  Edit</a>
                | <a class="action-link" [routerLink]="['/users/view', element.id]">  View</a>
                | <a class="action-link" [routerLink]="['/users/delete', element.id]">Delete</a>
                </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        
            <mat-paginator [pageSizeOptions]="[5, 10, 20, 100]"
                        showFirstLastButtons
                        aria-label="Select page of periodic elements">
            </mat-paginator>
        </div>
    </mat-card-content>
</mat-card>
  